<div class="row"> 
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="main-div border border-dark">
      <div>
        <h2 class="text-center pb-3">COUNT == {{count}}</h2>
      </div>
      <div class="text-center">
        <button (click)="increment()" class="text-center me-5 btn btn-success">Increment</button>
        <button (click)="decrement()" class="text-center ms-3 btn btn-danger">Decrement</button>
        <!-- <button (click)="clear()" class="text-center" >Clear</button> -->
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
 
</div>